.section-login {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.form-login {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  align-items: center;
  gap: 15px;
}

.form-login input {
  width: 250px;
  padding: 5px 10px;
}

.form-login button {
  width: 250px;
  padding: 5px 10px;
  border: none;
  cursor: pointer;
}

.form-login fieldset {
  position: relative;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.form-login button:active {
  transform: scale(0.97);
}
